{% extends 'modal.html' %}
{% set name = 'cancel_order' %}
{% from 'button.html' import button, warn_button %}


{% block content %}
<form _="
on showModal(values) from #modal_cancel_order
    set :table_orders_list to Array.from(values.values())
on submit
   halt the event's default
   fetch /medicine_order/${order_id} with method: 'DELETE',
    body: JSON.stringify({
     order_id: :table_orders_list
     }),
     headers:{'Content-Type': 'application/json'}

     on fetch:afterResponse(detail)
       if detail.response.status is 200
        trigger hideModal
        trigger refresh
      end
     end
     ">
    <p class="font-bold text-2xl text-red-500">Remove Order Display</p>
    <br>
    <p>Are you sure you wish to remove view of your order(s)? This cannot be undone.</p>
    <br>
    <div class="sm:flex sm:flex-row-reverse">
        {{ warn_button('Confirm', submit='True') }}
      </div>
</form>
{% endblock %}