{% from 'button.html' import focus_button %}
{% from 'select_input.html' import select_input %}

<div class="flex flex-col max-w-5xl space-y-8" _="
on refresh send click to .refresh_btn in me
">
    <div class="flex mx-2 my-8">
        <p class="flex-1 text-3xl font-bold">Order History</p>
        <p><a href="#order_medicine">{{ focus_button('Add Order') }}</a></p>
    </div>
    {% include '/dashboard/user/order_history/order_table_bar.html' %}
    <div id="order_table" class="flex flex-col"></div>
    {% include '/dashboard/user/order_history/view_quantity_modal.html' %}
</div>