<table _="install TableSearchBehaviour install TableCheckboxBehaviour">
    <thead>
    <tr>
        <th><input class="check_all" type="checkbox"></th>
        <th>Status</th>
        <th>Time</th>
        <th>Patient</th>
        <th>Condition</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for appointment in appointments %}
    <tr _="
        init
            make Date from '{{appointment.datetime}}' called datetime
            set time to `${(datetime.getHours().toString()).padStart(2, '0')}:${(datetime.getMinutes().toString()).padStart(2, '0')}`
            set innerHTML of .detail_time in me to time
        end
        " date="{{ appointment.datetime }}">
        <td><input class="check_row" type="checkbox" name="{{ appointment.appointment_id }}" value="{{ appointment.appointment_id }}"></td>
        <td>{{ appointment.status }}</td>
        <td class="detail_time"></td>
        <td>{{ appointment.patient_name }}</td>
        <td class="flex align-center pr-10">
            <p class="flex-1 truncate">{{ appointment.condition }}</p>
            <i class="ti ti-eye text-xl text-gray-400 hover:text-gray-600 transition-colors"></i>
        </td>
        <td class="px-3 space-x-2">
            {% if appointment.status == 'seen' %}
            <i class="ti ti-prescription text-xl text-secondary rounded-full hover:bg-secondary/10 p-2 transition-colors" _="
                on click send showModal(appointment_id: '{{ appointment.appointment_id }}') to #modal_doctor_issue_prescription
            "></i>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>