{% from 'select_input.html' import select_input %}

{% extends 'modal.html' %}
{% set name = 'edit_appointment_status' %}

{% block content %}
<form class="w-96 flex flex-col space-y-10" _="
    on showModal(values) from #modal_edit_appointment_status
        set :appointment_ids to Array.from(values.values())
    on hideModal from #modal_edit_appointment_status
        set :appointment_ids to []
    on fetch:afterResponse(response)
        if response.status is 200
            trigger hideModal
            trigger refresh
        end
    on submit
        halt the event's default
        fetch /doctor_appointment with method: 'PUT',
          body:JSON.stringify({
            appointment_id: :appointment_ids,
            status: value of <input/> in me
          }),
          headers:{'Content-Type': 'application/json'}
    ">
    <p class="font-bold text-2xl">Edit status</p>
    <div class="space-y-3">
        {{ select_input(options={
            'booked': 'Booked',
            'seen': 'Seen',
            'no_show': 'No Show',
            'cancelled': 'Cancelled'
        }) }}
    </div>
    {{ focus_button('Apply', submit=True) }}
</form>
</form>
{% endblock %}