<!DOCTYPE html>
<html lang="en" class="text-gray-700">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    {% include 'base_style.html' %}
    <script type="text/hyperscript">
        def showView(view)
            show view with visibility
            transition the view's opacity to 1
        def hideView(view)
            transition the view's opacity to 0
            hide view with visibility
        def syncView()
            set fragments to {{ pages | map(attribute='fragment') | list | tojson }}
            set fragment to location.hash.substring(1)
            if fragments do not contain fragment
                set default to first of fragments
                set fragment to default
                set location.hash to default
            end
            set views to children of #content
            for view in views
                if view.id is ('content-' + fragment)
                    js(view)
                        setTimeout(() => showView(view))
                    end
                else
                    js(view)
                        setTimeout(() => hideView(view))
                    end
                end
            end
        end
        init
            call syncView()
        end
        on hashchange from window call syncView()
        on load from window remove .preload from body
    </script>
</head>
<body class="preload">
<div class="flex h-screen">
    <div class="w-80">
        {% include 'dashboard/side_navbar.html' %}
    </div>
    <div id="content" class="flex-1 relative bg-gray-200 overflow-hidden">
        {% for page in pages %}
            <div id="content-{{page.fragment}}" class="absolute h-screen !duration-150 invisible w-full flex">
                <div class="flex-1 bg-gray-200 min-h-full w-full overflow-auto">
                    <div class="px-20 py-16">{% include page.template %}</div>
                </div>
                {% if page.right_panel_template %}
                <div class="flex-none w-1/4 bg-white">
                    {% include page.right_panel_template %}
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>