<div class="bg-white h-full flex flex-col px-6 py-8">
    <img class="w-12" src="{{ url_for('static', filename='logo.svg') }}"/>
    <div class="flex-1 flex flex-col space-y-5 mt-20">
    {% for page in pages %}
        <a class="flex rounded-lg h-12 items-center space-x-3 p-2 transition" href="#{{page.fragment}}" _="
        def updateStatus()
            if location.hash is me.getAttribute('href')
                add .dashboard-navbar-selected
                remove .dashboard-navbar-unselected
            else
                add .dashboard-navbar-unselected
                remove .dashboard-navbar-selected
            end
        init call updateStatus() end
        on hashchange from window call updateStatus()
        ">
            <i class="ti ti-{{page.icon}} text-2xl"></i>
            <p class="font-medium">{{ page.name }}</p>
        </a>
    {% endfor %}
    </div>
    <div class="mt-auto flex items-center space-x-4">
        <img class="flex-none w-10" src="{{ url_for('static', filename='profile.svg') }}"/>
        <p class="flex-1 font-medium">{{ current_user.full_name }}</p>
        <div class="flex-none bg-black/5 rounded-full w-8 h-8 flex items-center group hover:bg-secondary/50 transition-colors cursor-pointer" hx-delete="/sessions">
            <i class="text-gray-400 m-auto text-xl ti ti-logout group-hover:text-white transition-colors"></i>
        </div>
    </div>
</div>