{% from 'button.html' import focus_button %}
{% from 'input.html' import input %}

{% extends 'card.html' %}

{% block content %}
<form class="flex flex-col space-y-10" hx-put="/account" hx-swap="none" _="
    on htmx:responseError(detail)
        if detail.xhr.status == 401
            set pass_field to first of <input[name='current_password']/> in me
            send updateError(msg: 'Oops! Incorrect password, try again?') to pass_field
        end
    end
    ">
    <p class="font-bold text-2xl">Change password</p>
    <div class="flex flex-col space-y-5">
        {{ input('Current password', name='current_password', type='password', required=True) }}
        <hr class="text-gray-200">
        {{ input('New password', name='new_password', type='password', required=True) }}
        <div _="
        set :pass to first <input[name='new_password']/> in my parentElement
        set :pass_rep to first <input/> in me
        on input from :pass_rep
            if :pass_rep.value != :pass.value
                call :pass_rep.setCustomValidity('Passwords do not match')
            else
            call :pass_rep.setCustomValidity('')
        ">{{ input('Confirm new password', type='password', required=True) }}</div>
    </div>
    <div class="ml-auto justify-self-end flex space-x-5">
        {{ focus_button('Change password', submit=True) }}
    </div>
</form>
{% endblock %}