{% from 'button.html' import focus_button %}
{% from 'select_input.html' import select_input %}

<div class="flex flex-col max-w-5xl space-y-8" _="
on refresh send click to .refresh_btn in me
">
    <div class="flex mx-2 my-8">
        <p class="flex-1 text-3xl font-bold">Vaccine Log</p>
        <p>{{ focus_button('Create Log', icon='plus', _='
            on click send showModal to #modal_vaccine_create_log
            ') }}</p>
    </div>
    {% include '/dashboard/vaccine_manager/log_history/vaccine_log_table_bar.html' %}
    <div id="vaccine_log_table" class="flex flex-col"></div>
     {% include '/dashboard/vaccine_manager/log_history/create_log_modal.html' %}
     {% include '/dashboard/vaccine_manager/log_history/delete_log_modal.html' %}
</div>
