{% extends 'modal.html' %}
{% set name = 'delivery' %}
{% from 'input.html' import input %}
{% from 'button.html' import focus_button %}

{% block content %}
<form hx-post="/medicine_order" hx-swap="none">
    <p class="text-3xl font-bold underline decoration-primary">Delivery</p>
    <br>
    <div class="flex flex-col space-y-5">
        <div class="form-group row">
            {{ input('Address', type='text', name='address', value='address', required=True) }}
            {{ input('Postal Code', type='text', name='postal_code', value='postal_code' required=True) }}
        </div>
        <a href="#" class="underline text-blue-700">Obtain via Self-collection? Click here</a>
    </div>
    <br>
    {{ focus_button('Order', submit=True) }}
</form>
{% endblock %}