{% extends 'modal.html' %}
{% set name = 'delivery' %}
{% from 'button.html' import focus_button %}

{% block content %}
<form _="
on submit
    halt the event's default
    fetch `/medicine_order` with method:'POST',
      body: :data,
      headers: {'Content-Type': 'application/json'}
on fetch:afterResponse(detail)
    if detail.response.status is 200
      trigger hideModal
    end
on showModal(quantities) from #modal_delivery
    set form_data to {}
    set form_data.method to 'delivery'
    set form_data.quantities to quantities
    set :data to JSON.stringify(form_data)
">
    <p class="text-3xl font-bold underline decoration-primary">Self-Collection</p>
    <br>
    <div class="flex flex-col space-y-5">
        <div class="form-group row">
            <p>Collect your medicine within 2 days from your day of order.</p>
        </div>
    </div>
    <br>
    {{ focus_button('Order', submit=True) }}
</form>
{% endblock %}