{% extends 'modal.html' %}
{% set name = 'self_collection' %}
{% from 'button.html' import focus_button %}
{% from 'input.html' import input %}

{% block content %}
<form hx-post="/medicine_order" hx-swap="none">
    <p class="text-3xl font-bold underline decoration-primary">Obtain via: Self-collection</p>
    <br>
    <div class="form-group row">
            <div class="flex flex-col space-y-5">
                {{ input('Collection Date', type='date', name='collection_date', required=True) }}
                <br>
                <a href="#order_medicine" class="underline text-blue-700" _="
                on click
                    trigger hideModal
                    send showModal to #modal_delivery
                ">Obtain via Delivery? Click here</a>
            </div>
        </div>
    <br>
    {{ focus_button('Order', submit=True) }}
</form>
{% endblock %}