{% from 'button.html' import warn_button %}
{% from 'input.html' import input %}

{% extends 'card.html' %}

{% set outline='red-500' %}
{% block content %}
<form class="flex flex-col space-y-10" hx-delete="/account" hx-swap="none" _="
    on htmx:responseError(detail)
        if detail.xhr.status == 401
            set pass_field to first of <input[name='password']/> in me
            send updateError(msg: 'Oops! Incorrect password, try again?') to pass_field
        end
    end
    ">
    <p class="font-bold text-2xl text-red-500">Delete account</p>
    <p>Once you delete your account, all your information will be discarded. This cannot be undone.</p>
    <div class="flex flex-col space-y-5">
        {{ input('Confirm password', name='password', type='password') }}
    </div>
    <div class="ml-auto justify-self-end flex space-x-5">
        {{ warn_button('Delete account', submit=True) }}
    </div>
</form>
{% endblock %}