{% from 'button.html' import focus_button %}
{% from 'input.html' import input %}

{% extends 'card.html' %}

{% block content %}
<form class="flex flex-col space-y-10" hx-put="/account" hx-swap="none">
    <p class="font-bold text-2xl">Edit profile</p>
    <div class="flex flex-col space-y-5">
        {{ input('First name', name='first_name', placeholder=current_user.first_name) }}
        {{ input('Last name', name='last_name', placeholder=current_user.last_name) }}
        {{ input('Phone number') }}
        {{ input('Email') }}
    </div>
    <div class="ml-auto justify-self-end flex space-x-5">
        {{ focus_button('Save changes', submit=True) }}
    </div>
</form>
{% endblock %}