{% from 'button.html' import focus_button %}
{% from 'input.html' import input %}

{% extends 'modal.html' %}
{% set name = 'signup' %}
{% block content %}
<form class="flex flex-col space-y-10 w-96" hx-post="/account" hx-swap="none" _="
    on htmx:responseError(detail)
        if detail.xhr.status is 409
            set nric to first <input[name='nric']/> in me
            send updateError(msg: 'This NRIC number has already been registered') to nric
    ">
    <p class="text-3xl font-bold underline decoration-primary">Sign Up</p>
    <div class="flex flex-col space-y-5">
        <div class="flex space-x-5">
            <div class="min-w-0"> {{ input('First name', name='first_name', required=True) }} </div>
            <div class="min-w-0"> {{ input('Last name', name='last_name', required=True) }} </div>
        </div>
        {{ input('NRIC number', type='text', name='nric', required=True) }}
        {{ input('Password', type='password', name='password', required=True) }}
        <div _="
        set :pass to first <input[name='password']/> in my parentElement
        set :pass_rep to first <input/> in me
        on input from :pass_rep
            if :pass_rep.value != :pass.value
                call :pass_rep.setCustomValidity('Passwords do not match')
            else
                call :pass_rep.setCustomValidity('')
        ">{{ input('Repeat password', type='password', required=True) }}</div>
    </div>
    {{ focus_button('Sign Up', submit=True) }}
</form>
{% endblock %}