{% from 'button.html' import button, focus_button %}
{% from 'input.html' import input %}

{% extends 'card.html' %}

{% block content %}
<div class="flex flex-col space-y-10">
    <p class="font-bold text-2xl">Change password</p>
    <div class="flex flex-col space-y-5">
        {{ input('Current password', type='password') }}
        <hr class="text-gray-200">
        {{ input('New password', type='password') }}
        {{ input('Confirm new password', type='password') }}
    </div>
    <div class="ml-auto justify-self-end flex space-x-5">
        {{ focus_button('Change password') }}
    </div>
</div>
{% endblock %}