<link rel="stylesheet" href="{{ url_for('static', filename='iconfont/tabler-icons.min.css') }}"> <!-- Tabler Icons -->
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/> <!-- Tailwind -->
<link rel="stylesheet" href="https://rsms.me/inter/inter.css"> <!-- Font -->
<script src="{{ url_for('static', filename='htmx.min.js') }}" ></script> <!-- htmx -->
<script src="{{ url_for('static', filename='_hyperscript_w9y.min.js') }}"></script> <!-- hyperscript -->
<script type="text/hyperscript">
behavior DropdownBehaviour(button, content)
  set :shown to false
  init add .invisible to content end
  on click from button in me
    if not :shown
      trigger showContent
    end
  end
  on click from document
    if :shown and no event.target in (content in me)
      trigger hideContent
    end
  end
  on showContent
    remove .invisible from content in me
    settle then set :shown to true
  end
  on hideContent
    settle then set :shown to false
    add .invisible to content in me
  end
end

behavior TransitionAutoHeightBehaviour
    on showElem
        measure my scrollHeight
        set my style's height to `${scrollHeight}px`
    on hideElem
        set my style's height to 0px

behavior TransitionAutoWidthBehaviour
    on showElem
        measure my scrollWidth
        set my style's width to `${scrollWidth}px`
    on hideElem
        set my style's width to 0px

behavior TableSearchBehaviour
    set :tbody to <tbody/> in me
    set :rows to <tr/> in :tbody
    on search(matches, column)
        for row in :rows
            set details to <td/> in row
            set terms to []
            if column[0] is 'c'
                repeat in column
                    if it is 'c' continue end
                    append details[it as Int].innerHTML to terms
                end
            else
                append details[column as Int].innerHTML to terms
            end
            set hasMatch to false
            for match in matches
                for term in terms
                    if term.toUpperCase().includes(match.toUpperCase())
                        set hasMatch to true
                        break
                    end
                end
                if hasMatch break end
            end
            if hasMatch show row else hide row end
        end
    end

behavior TableCheckboxBehaviour
    set :check_all to first .check_all in <thead/> in me
    set :check_rows to .check_row in <tbody/> in me
    on change(target) queue all
        if target is :check_all
            repeat for cb in :check_rows
                set cb.checked to target.checked
                send change to cb
            end
        else
            trigger toggleRow(name: target.name, value: target.value, checked: target.checked)
            set is_all_checked to true
            for cb in :check_rows
                if not cb.checked
                     set is_all_checked to false
                     break
                end
            end
            set checked of :check_all to is_all_checked
        end
</script>

