{% macro button(name, onclick='', submit=False, hx={}, icon='', _='', class='') %}
<button type="{{'submit' if submit else 'button'}}" class="flex items-center py-2.5 ring-inset ring-2 ring-secondary rounded-lg hover:bg-secondary/20 transition-colors text-secondary truncate {{class}}"
       onclick="{{ onclick }}" _="{{ _ }}"
       {% for name, val in hx.items() %}
         hx-{{name}}="{{val}}"
       {% endfor %}>
    <i class="ti ti-{{icon}} pr-2 pl-3"></i>
    <p class="flex-1 pr-5 text-center">{{ name }}</p>
</button>
{% endmacro %}

{% macro focus_button(name, onclick='', submit=False, hx={}, icon='', _='', class='') %}
<button type="{{'submit' if submit else 'button'}}" class="flex items-center py-2.5 bg-secondary rounded-lg hover:bg-secondary/80 transition-colors text-white text-center truncate {{class}}"
       onclick="{{ onclick }}" _="{{ _ }}"
       {% for name, val in hx.items() %}
       hx-{{name}}="{{val}}"
       {% endfor %}>
    <i class="ti ti-{{icon}} pr-2 pl-3"></i>
    <p class="pr-5 flex-1 text-center">{{ name }}</p>
</button>
{% endmacro %}

{% macro warn_button(name, onclick='', submit=False, hx={}, icon='', _='', class='') %}
<button type="{{'submit' if submit else 'button'}}" class="box-border flex items-center py-2.5 bg-red-500 rounded-lg hover:bg-red-500/80 transition-colors text-white text-center truncate {{class}}"
       onclick="{{ onclick }}" _="{{ _ }}"
       {% for name, val in hx.items() %}
       hx-{{name}}="{{val}}"
       {% endfor %}>
    <i class="ti ti-{{icon}} pr-2 pl-3"></i>
    <p class="pr-5 flex-1 text-center">{{ name }}</p>
</button>
{% endmacro %}

{% macro text_button(name, onclick='', submit=False, hx={}, icon='', _='', class='') %}
<button type="{{'submit' if submit else 'button'}}" class="flex items-center py-2.5 rounded-lg hover:bg-secondary/10 transition-colors text-secondary truncate {{class}}"
        onclick="{{ onclick }}" _="{{ _ }}"
        {% for name, val in hx.items() %}
        hx-{{name}}="{{val}}"
        {% endfor %}>
    <i class="ti ti-{{icon}} pr-2 pl-3"></i>
    <p class="pr-5 flex-1 text-center">{{ name }}</p>
</button>
{% endmacro %}