<div class="relative">
  <div class="cursor-pointer" _="
  set :shown to false
  on click
    if not :shown
      send show to .dropdown-content in my parentElement then settle
      set :shown to true
    end
  on click from document
    if :shown and no closest .dropdown-content to event.target
      send hide to .dropdown-content in my parentElement then settle
      set :shown to false
    end
  ">
    {% block button %}
    {% endblock %}
  </div>
  <div class="dropdown-content absolute right-0 top-full rounded-lg bg-gray-50 mt-2 shadow-xl cursor-auto outline outline-2 outline-gray-100 hidden opacity-0 !duration-100" _="
  on show
    remove .hidden then transition opacity to 1
  on hide
    transition opacity to 0 then add .hidden
  ">
    {% block dropdown %}
    {% endblock %}
  </div>
</div>