{% from 'input.html' import input %}
{% from 'button.html' import text_button %}

<div class="flex bg-white rounded-lg p-5 items-center space-x-5" _="
    set :table_actions to first .table_actions in me
    init make Map then set :values to it end
    on toggleRow(name, value, checked) from {{ '#' + table_id }}
        if checked
            call :values.set(name, value)
        else
            call :values.delete(name)
        end
        send selectChange(values: :values) to :table_actions

    on click(target) from <button/> in :table_actions
        send action(values: :values) to it

    init
        set :category_input to first <input/> in .search_category in me
        set :search_input to first <input/> in .search in me
    end
    on updateSearch debounced at 500ms
        set column to :category_input.value
        set raw_matches to :search_input.value
        make a RegExp from '[ ,]+', 'g' called regex
        set matches to raw_matches.trim().split(regex)
        send search(matches: matches, column: column) to <table/> in {{ '#' + table_id }}

    on htmx:afterSettle from {{ '#' + table_id }}
        trigger updateSearch
        set table to it
        for name in :values.keys()
            set cb to first <input.check_row[name=`$name`]/> in <tbody/> in table
            if cb != undefined
                set cb.checked to true
                send change to cb
            else
                call :values.delete(name)
            end
        end
">
    <div class="flex flex-initial space-x-5 min-w-0">
        {{ input(placeholder='Search', class='search min-w-0', _='on input trigger updateSearch') }}
        <div class="flex-initial w-40" _="on change trigger updateSearch">
            {{ select_input('', search_categories, icon='filter', class='search_category') }}
        </div>
    </div>
    <div class="flex-1 flex relative justify-end">
        {{ text_button('Refresh', icon='refresh', class='refresh_btn flex-none', hx={'post': table_template_url, 'target': '#' + table_id, 'swap': 'innerHTML', 'trigger': 'load, click'}) }}
        <div class="table_actions transition-[width,opacity] w-0 overflow-hidden flex opacity-0" _="
        install TransitionAutoWidthBehaviour
        on selectChange(values)
            if values.size > 0
                remove .opacity-0
                trigger showElem
            else
                add .opacity-0
                trigger hideElem
            end
        ">
            <div class="pl-4 inline-flex space-x-4 h-full">
                <hr class="h-full w-px bg-gray-200"/>
                {% block select_options %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
